@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,600,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic);
body{
	font-family: 'Raleway', sans-serif;
}
.txt-rojo{
	color:#f8313f;
}
.container-fluid{
	padding-left:0;
	padding-right:0;
}
.header-descarga-app{
	background:#dde0da;
}
.header-descarga-app span{
	color:#a1a89b;
	font-weight:800;
	font-size:12px;
}
.navbar{
	margin:0;
	border-radius:0;
}
.navbar-default .navbar-nav > li > a:link,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:visited {
	padding-top:10px;
	padding-bottom:10px;
	margin:20px -3px 20px -3px;
	font-weight:600;
	font-size:11px;
	color:#5d5e5b;
}
.navbar-default .navbar-nav > li > a:link span,
.navbar-default .navbar-nav > li > a span{
	color:#5d5e5b;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:focus span,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:visited span {
    color:#5d5e5b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover span {
    color:#f8313f;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:link, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:visited{
	color:#fff;
	background:#f8313f;
	padding-top:10px;
	padding-bottom:10px;
	margin:20px -3px 20px -3px;
	color:#fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.navbar-default .navbar-nav > .active > a span, 
.navbar-default .navbar-nav > .active > a:link span, 
.navbar-default .navbar-nav > .active > a:hover span, 
.navbar-default .navbar-nav > .active > a:focus span,
.navbar-default .navbar-nav > .active > a:visited span{
	color:#fff;
}
.btn-go-top{
	position:fixed;
	left:0;
	top:50%;
	margin-top:-25px;
	display:none;
}
.txt-verde{
	color: #78ff00;
}
.slogan{
	min-height:70px;
	text-align:center;
	font-size: 50px;
	font-weight: 800;
	color:white;
	padding-left:0;
	padding-right:0;
	position:relative;
}
.txt-banner{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	height:auto;
	display:none;
	-webkit-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	-moz-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.txt-banner p{
	
}
.txt-banner-active{
	display:block;
}
@media(max-width:767px){
	.slogan{
		min-height:40px;
		margin-top:200px;
		font-size: 15px;
	}
	.prensa-article-title h3{
		padding-top:30px;
	}
	
}
@media (min-width: 768px) and (max-width: 991px){
	.navbar-default .navbar-nav > li > a:link,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > li > a:visited {
		font-size:9px;
		margin:20px -10px 20px -10px;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:link, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus{
		padding:10px 10px 10px 10px;
		margin:20px -3px 20px -3px;
	}
}
.logo-normal{
	width:100px;
	position:absolute;
	top:50%;
	transform:translate(0, -50%);
	-webkit-transform:translate(0, -50%);
	-ms-transform:translate(0, -50%);
}
.logo-small{
	width:80px;
	position:absolute;
	top:50%;
	transform:translate(0, -50%);
	-webkit-transform:translate(0, -50%);
	-ms-transform:translate(0, -50%);
}
.logo-xsmall{
	width:50px;
}
.navbar-nav{
	overflow-x:hidden;
}
.banner-todo{
	position:relative;
}
.banner-wrapper{
	background:url(../images/main/banner3.jpg) no-repeat;
	background-position:center;
	background-size:auto 100%;
	overflow:hidden;
}
.banner-item{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	top:0;
	bottom:0;
}
.banner-img{
	position:absolute;
	width:auto;
	height:100%;
	left:50%;
	-webkit-transform:translate(-50%,0);
	-moz-transform:translate(-50%,0);
	-o-transform:translate(-50%,0);
	transform:translate(-50%,0);
	display:none;
}
.banner-active{
	display:block;
}
.banner-rs{
	/*background:red;*/
	padding-top:10px;
	margin-bottom:24%;
}
.banner-rs img{
	width:25px;
	height:auto;
	float:right;
	margin-left:10px;
}
.banner-rs-xs{
	position:absolute;
	left:0;
	top:0;
	z-index:20;
}
.banner-rs-xs img{
	width:20%;
	height:auto;
	border:0;
	float:left;
}
.ico-rs-interiores img{
	height:25px;
	width:auto;
	border:0;
	float:right;
	margin-left:10px;
}
.submenu1{
	/*padding-top:24%;*/
	position:relative;
}
.submenu2{
	margin-top:2%;
	background:url(../images/main/back-sm2.png);
	z-index:1;
	position:relative;
}
.img-btn-submenu1{
	margin-top:5%;
}
.img-btn-submenu2{
	margin-top:3%;
	margin-bottom:3%;
}
.sm-1{
	
}
.sm-1-1{
	background:#78ff00;
	color:#505050;
}
.sm-1-2{
	background:#f8313f;
	color:#fff;
}
.sm-1-3{
	background:#505050;
	color:#fff;
}
.sm-1-4{
	background:#c6cbc1;
	color:#fff;
}
.twitter-wrapper{
	padding-top:3%;
	padding-bottom:3%;
	color:#666;
}
.twitter-container{
	text-align:left;
}
.twitter-container h2{
	font-family: 'Merriweather', serif;
	font-style:italic;
}
.twitter-author p{
	text-align:left;
	font-weight:700;
}
.gentebuena-wrapper{
	background:#f8313f;
	color:#fff;
	padding-top:3%;
	padding-bottom:3%;
}
.gentebuena-wrapper h1{
	font-weight:800;
}
.gentebuena-wrapper h3{
	font-weight:100;
}
.gentebuena-wrapper h4{
	font-weight:700;
}
.gentebuena-wrapper p{
	color:#ffbebe;
}
.gentebuena_pregunta{
	margin:0;
	padding:15px 0;
	border-bottom:1px solid #cb4f4f;
	text-transform:uppercase;
}
.involucrate-wrapper{
	background:#505050;
	color:#fff;
	padding-top:3%;
	padding-bottom:3%;
}
.involucrate-wrapper h1{
	font-weight:800;
}
.involucrate-wrapper h4{
	line-height:1.6;
	font-weight: 100;
}
.involucrate-wrapper ul{
	list-style-image:url(../images/main/ico-bullet-1.png);
}
.involucrate-wrapper ul li{
	font-family: 'Merriweather', serif;
	font-style:italic;
	margin-bottom:10px;
}
.timeline-wrapper{
	color:#6d7366;
	font-size:0.9em;
	padding-top:3%;
	padding-bottom:3%;
}
.timeline-wrapper h1{
	font-weight:800;
}
.timeline-wrapper h5{
	font-weight:600;
	font-size:1em;
}
.timeline-wrapper p{
	font-weight:400;
}
.timeline-container{
	background:url(../images/main/timeline-fondo.jpg) repeat-x;
	background-size:auto 100%;
}
.facebookwall-wrapper{
	padding:3% 0;
	background:#f2f4ef;
	color:#505050;
}
.facebookwall-wrapper h4{
	font-weight:600;
}
.facebookwall-wrapper p{
	font-size:0.9em;
}
.facebookwall-wrapper-login{
	padding-top:8%;
	padding-bottom:8%;
	background:#333;
	color:#fff;
	display:none;
	text-align:center;
}
.fb-fecha{
	color:#b5b5b5;
	font-style:italic;
	font-size:0.9em;
}
.foto-post-fb{
	width:100%;
	height:200px;
	margin-bottom:20px;
}
.eventos-wrapper{
	padding-top:0px;
	padding-bottom:3%;
}
.eventos-wrapper h1{
	font-weight:800;
}
.evento-item h2{
	font-weight:100;
}
.evento-item h4{
	font-weight:600;
	color:#9e9e9e;
	margin-top:30px;
}
.evento-item p{
	color:#9e9e9e;
}
.fecha-evento{
	background:#78ff00;
	text-align:center;
}
.footer-container{
	padding-top:30px;
	padding-bottom:30px;
	border-top:1px solid #ddd;
}
.logos-rs img{
	width:40px;
	margin-left:10px;
}
/*CONOCE A BALTAZAR-----------------------------------------------------------------------------------------------------*/
.titulo-wrapper{
	padding-top:1%;
	padding-bottom:1%;
	background:#f8313f;
	color:#fff;
}
.titulo-wrapper h3{
	margin:0;
}
.frase-wrapper{
	padding-top:3%;
	padding-bottom:3%;
}
.frase-wrapper h3{
	font-family: 'Merriweather', serif;
	font-style:italic;
	color:#5d5e5b;
	line-height:1.5;
}
.frase-wrapper p{
	font-weight:800;
	font-size:0.9em;
	color:#f8313f;
}
.soy-wrapper{
	padding-top:3%;
	padding-bottom:3%;
}
.soy-wrapper h1{
	font-weight:800;
}
.soy-item h3{
	color:#5d5e5b;
}
.soy-item p{
	color:#989898;
}
.familia-wrapper{
	padding-bottom:3%;
}
.familia-wrapper h1{
	font-weight:800;
}
.familia-item h3{
	color:#5d5e5b;
}
.familia-item p{
	color:#989898;
}
.familia-fotos img{
	margin-top:30px;
}
.timeline-description{
	background:#252525;
	color:#fff;
	height:0px;
	overflow:hidden;
}
.timeline-description-wrapper{
	padding:40px 0;
}
.timeline-description-wrapper h2{
	color:#78ff00;
	margin:0 20px 0 0;
}
.timeline-description-wrapper li{
	margin-bottom:20px;
}
.timeline-description-item{
	display:none;
}
.timeline-description-item img{
	margin:15px 0;
}
.timeline-selector{
	display:none;
}
.vision-wrapper{
	background:url(../images/baltazar/banner1.jpg) no-repeat;
	background-position:center;
	background-size:auto 100%;
}
.compromiso-wrapper{
	/*background:url(../images/baltazar/back-sm3.png);*/
	background:#333;
}
.compromiso-wrapper-2{
	background:url(../images/baltazar/back-sm3.png);
}
.vision-container{
	padding-bottom:2%;
}
/*VISION------------------------------------------------------------------------------------------------------------------*/
.banner-vision-wrapper{
	background:url(../images/vision/banner-vision-1.jpg) no-repeat;
	background-position:center;
	background-size:100% auto;
	padding-top:450px;
}
.banner-vision-container{
	
}
.submenu2-vision{
	background:url(../images/main/back-sm2.png);
}
.frase-proposito-wrapper{
	padding:0 0 3% 0;
}
.vision-compromiso-wrapper, .vision-pais-wrapper, .vision-estado-wrapper, .oportunidades-agenda-wrapper{
	padding-bottom:5%;
}
.vision-compromiso-wrapper h2, .vision-pais-wrapper h2, .vision-estado-wrapper h2{
	font-weight:800;
	color:#505050;
}
.compromiso-item h3{
	color:#5d5e5b;
}
.compromiso-item p{
	color:#989898;
}
.vision-pais-frase, .vision-estado-frase{
	color:#5d5e5b;
	font-family: 'Merriweather', serif;
	font-style:italic;

}
.vision-pais-frase h5, .vision-estado-frase h5{
	line-height:1.8;
	font-size:1.1em;
}
.vision-trabajo-wrapper{
	padding-top:3%;
	padding-bottom:3%;
	margin-bottom:5%;
	background:#222;
}
.vision-trabajo-wrapper h2{
	font-weight:800;
	color:#fff;
}
.vision-trabajo-wrapper p{
	color:#fff;
	font-size:18px;
}
.vision-compromiso-wrapper h2,
.vision-pais-wrapper h2,
.vision-estado-wrapper h2,
.vision-trabajo-wrapper h2{
	padding-left:15px;
	padding-right:15px;
}
@media(min-width:768px) and (max-width:992px){
	.vision-ico-img{
		margin-top:20px;
		display:block;
	}
}
/* AGENDA --------------------------------------------------------*/
.banner-agenda-wrapper{
	background:url(../images/agenda/agenda-back-1.jpg) no-repeat;
	background-position:center;
	background-size:auto 100%;
	padding-top:200px;
}
.banner-agenda-container h1{
	font-weight:800;
	color:#78ff00;
	text-align:center;
	font-size:3.5em;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}
.separador-agenda-container{
	text-align:center;
	background:url(../images/agenda/fondo-separador.jpg) repeat-x;
	background-position:center;
	background-size:auto 100%;
	margin-top:3%;
	margin-bottom:3%;
}
.oportunidades-agenda-wrapper h2{
	color:#505050;
	font-weight:800;
}
.oportunidades-agenda-wrapper h3{
	color:#5d5e5b;
	font-weight:600;
	font-size:1.4em;
}
.frase-agenda-1{
	font-family: 'Merriweather', serif;
	font-style:italic;
	color:#5d5e5b;
	line-height:1.5;
}
.agenda-item{
	margin-bottom:50px;
}
.agenda-item h4{
	line-height:1.4;
}
.agenda-item .container{
	border:1px solid #ddd;
	padding:30px;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.15);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.agenda-item ul{
	list-style: none;
    padding:0;
    margin:20px 0;
}
.agenda-item li { 
    padding-left: 1em;
    text-indent: -.7em;
    margin-bottom:10px;
}
.agenda-item li:before {
    content: "• ";
    color: red; /* or whatever color you prefer */
}
.agenda-item img{
	margin:20px 0;
}
.ico-agenda{
	width:100%;
	height:auto;
	text-align:right;
}
.ico-agenda img{
	margin:0;
}
/*EXPERIENCIA-----------------------------------------------------*/
.timeline-item{
	margin-bottom:50px;
}
.timeline-item h4{
	line-height:1.4;
}
.timeline-item .container{
	border:1px solid #ddd;
	padding:30px;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.15);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.timeline-item ul{
	list-style: none;
    padding:0;
    margin:0;
}
.timeline-item li { 
    padding-left: 1em;
    text-indent: -.7em;
    margin-bottom:30px;
}
.timeline-item li:before {
    content: "• ";
    color: red; /* or whatever color you prefer */
}
.exp-titulo-anio{
	width:100%;
	text-align:right;
	border-bottom:1px solid #ddd;
	padding-bottom:30px;
	margin-bottom:30px;
}
.exp-titulo-agenda{
	width:100%;
	text-align:right;
	padding-bottom:30px;
	color:#f8313f;
}
.exp-titulo-anio-1{
	color:#f8313f;
}
.exp-titulo-anio-2{
	color:#fe7155;
}
.exp-titulo-anio-3{
	color:#ff875e;
}
.exp-titulo-anio-4{
	color:#79ae3c;
}
.exp-titulo-anio-5{
	color:#72d103;
}
.exp-titulo-anio-6{
	color:#7aff00;
}
.exp-titulo-puesto{
	width:100%;
	text-align:right;
}
.exp-titulo-lugar{
	width:100%;
	text-align:right;
	color:#999;
	border-bottom:1px solid #ddd;
	padding-bottom:30px;
	margin-bottom:30px;
}
.timeline-wrapper-mobile{
	background:red;
	height:auto;
	margin-top:20px;
}
.timeline-wrapper-mobile .container .row div{
	padding-left:0;
	padding-right:0;
}
.btn-timeline-mobile:link,
.btn-timeline-mobile:visited,
.btn-timeline-mobile:hover{
	display:block;
	padding:30px 0;
	text-align:center;
	color:#fff;
}
.btn-timeline-mobile-1{
	background:#f8313f;
}
.btn-timeline-mobile-2{
	background:#fe7155;
}
.btn-timeline-mobile-3{
	background:#ff875e;
}
.btn-timeline-mobile-4{
	background:#79ae3c;
}
.btn-timeline-mobile-5{
	background:#72d103;
}
.btn-timeline-mobile-6{
	background:#7aff00;
}
@media(max-width:767px){
	.exp-titulo-anio{
		text-align:left;
	}
	.exp-titulo-puesto{
		text-align:left;
	}
	.exp-titulo-lugar{
		text-align:left;
	}
	.exp-titulo-agenda{
		text-align:left;
	}
	.article-image-container{
		padding-left:0;
		padding-right:0;
	}
}


/*CONTACTO------------------------------------------*/
.contacto-wrapper{
	background:#dde0da;
	padding:3% 0;
}
.contacto-wrapper h3{
	color:#505050;
	font-weight:800;
}
.contacto-wrapper input{
	border:0;
	border-radius:0;
}
.contacto-wrapper textarea{
	resize:none;
	border:0;
	padding:1.5%;
	border-radius:0;
}
.btn-enviar-contacto{
	background:#f8313f;
	color:#fff;
	padding:2% 0%;
	border:0;
}
.btn-enviar-contacto span{

}
.fondo-lightbox{
	background:rgba(0,0,0,0.8);
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	z-index:500;
}
.fondo-lightbox img{
	position:absolute;
	display:none;
	top:50%;
	left:50%;
	transform:-webkit-translate(-50%,-50%);
	transform:-moz-translate(-50%,-50%);
	transform:-o-translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
/*PRENSA-----------------------------------------------*/
.prensa-container{
	padding-top:30px;
	padding-bottom:30px;
}
.prensa-article{
	margin-bottom:50px;
	padding-bottom:50px;
	border-bottom:1px dashed #eee;
}
.prensa-article-title h3{
	margin:0;
}
.prensa-article-title h4{
	margin:0;
	line-height: 18pt;
}
.prensa-article-title a:link,
.prensa-article-title a:focus,
.prensa-article-title a:visited{
	color:#555;
	text-decoration:none;
}
.prensa-article-title a:hover{
	color:#f8313f;
	text-decoration:none;
}
.prensa-article-date{
	color:#bbb;
	padding:15px 0;
	margin-bottom:15px;
	font-size:11px;
	border-bottom:1px solid #eee;
}
.prensa-article-date-sep{
	margin:0 15px;
}
.prensa-article-desc{
	color:#aaa;
	font-size:12px;
	line-height:1.7;
}
.prensa-go-article:link,
.prensa-go-article:focus,
.prensa-go-article:visited{
	color:#fff;
	background:#777;
	padding:5px 0;
	margin:20px 0 0 0;
	display:block;
	text-align:center;
	text-decoration:none;
	font-size:11px;
	border-radius:10px;
}
.prensa-go-article:hover{
	text-decoration:none;
	background:#e82a37;
}
.prensa-categorias{
	margin-bottom:50px;
	border-bottom:1px solid #aaa;
}
.prensa-categorias h3{
	margin:0;
	color:#555;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #aaa;
}
.prensa-categorias ul{
	list-style:none;
}
.prensa-categorias ul li{
	margin:0 0 10px -35px;
	padding:10px;
	/*background:#eee;*/
	cursor:pointer;
	border-radius:10px;
}
.prensa-categorias ul li:hover{
	background:#eee;
}

.prensa-categorias ul .cat-active:hover{
	background:#f8313f;
	color:#fff;
}
.prensa-categorias ul li a:link,
.prensa-categorias ul li a:hover,
.prensa-categorias ul li a:visited{
	color:#999;
	text-decoration:none;
}
.prensa-categorias ul .cat-active,
.prensa-categorias ul .cat-active a:link,
.prensa-categorias ul .cat-active a:focus,
.prensa-categorias ul .cat-active a:visited{
	background:#f8313f;
	color:#fff;
}
.prensa-categorias ul .cat-active:hover,
.prensa-categorias ul .cat-active:hover > a{
	background:#e82a37;
}
.badge-category:link,
.badge-category:focus,
.badge-category:visited{
	background:#eee;
	color:#aaa;
	font-size:10px;
	padding:5px 10px 5px 10px;
	margin-top:10px;
	margin-right:10px;
	border-radius:15px;
	/*width:auto;*/
}
.badge-category:hover{
	color:#4c7627;
	text-decoration:none;
}
.badge-category .glyphicon{
	margin-right:10px;
}
.article-wrapper{
	margin:30px 0;
}
.article-wrapper .subtitulo{
	color:#666;
	line-height:1.5;
}
.article-wrapper p{
	color:#888;
	line-height:1.8;
}
.article-wrapper b{
	color:#666;
}
.article-wrapper ul li{
	margin-bottom:15px;
	color: #888;
}
.article-wrapper .img-thumb{
	border-radius:7px;
	cursor:pointer;
	padding:2px;
}
.article-wrapper .img-thumb:hover{
	padding:0;
	border-radius:5px;
}
.article-related{
	margin:30px 0;
}
.article-related h1{
	margin:0;
}
.article-related-container{
	padding:30px 0;
	border-top:1px solid #ddd;
}
.article-related h4 a:link,
.article-related h4 a:focus,
.article-related h4 a:visited{
	color:#f8313f;
	text-decoration:none;
}
.prensa-article-related-date{
	color:#999;
	font-size:11px;
}
.prensa-article-thumbs{
	margin:10px 0 0 0;
}
.article-related-main{
	margin:0;
}
.article-related-main h1{
	margin:0;
	padding-bottom:30px;
}
.article-related-main h4 a:link,
.article-related-main h4 a:focus,
.article-related-main h4 a:visited{
	color:#f8313f;
	text-decoration:none;
}
.audio-row{
	background:#111;
	padding:15px 15px 10px 15px;
	border-radius:10px;
	margin:20px -15px;
}
.audio-row h3{
	margin:0;
	color:white;
}
audio{
	margin:0;
	padding:0;
	width:100%;
}
.thumb-item{
	width:100%;
	height:100px;
	cursor:pointer;
	margin-top:15px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
.thumb-item img{
	display:none;
}
/*LIGHTBOX----------------------------------*/
.lightbox{
	position:fixed;
	background:rgba(0,0,0,0.85);
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
	cursor:pointer;
	z-index:2000;
}
.lightbox-img-hor{
	position:fixed;
	width:70%;
	height:auto;
	top:50%;
	left:50%;
	border:10px solid white;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.lightbox-img-ver{
	position:fixed;
	width:auto;
	height:70%;
	top:50%;
	left:50%;
	border:10px solid white;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.lightbox-close-btn:link,
.lightbox-close-btn:focus,
.lightbox-close-btn:visited,
.lightbox-close-btn:hover{
	color:#fff;
	text-decoration:none;
	position:fixed;
	z-index:2100;
	top:20px;
	right:20px;
}
.estoyconbh-wrapper{
	background:#f8313f;
	color:#fff;
	text-align:center;
}
.estoyconbh-wrapper a{
	color:#fff;
	display:block;
	padding:20px 0;
}
.estoyconbh-wrapper a:hover{
	color:#fff;
	text-decoration:none;
}
.estoyconbh-wrapper h2,
.estoyconbh-wrapper p{
	margin:0;
}
.estoyconbh-wrapper p{
	font-weight:100;
}
@media(max-width:480px){
	.estoyconbh-wrapper{
		background:#d92734;
	}
	.estoyconbh-wrapper a{
		/*margin-top:5px;*/
		padding:10px 0;
	}
	.estoyconbh-wrapper h2{
		font-size:18px;
	}
	.estoyconbh-wrapper p{
		font-size:11px;
	}
	
}
canvas {
    font-family: 'Raleway', sans-serif;
    font-weight:600;
}
.forum-wrapper{
	padding-top:30px;
	padding-bottom:30px;
}
.forum-item{
	position:relative;
}
.forum-item img{
	margin-bottom:20px;
}
.forum-name{
	margin-top:0;
	margin-bottom:0;
	font-weight:600;
}
.forum-subtitle h5{
	margin:0;
}
.forum-subtitle{
	color:#444;
	margin:10px 0 0 0;
	padding:15px;
	border:1px solid #eee;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	-o-border-radius:12px;
	border-radius:12px;
	position:relative;
}
.forum-subtitle:hover{
	border:1px solid #ddd;
	-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
	-o-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
	text-decoration:none;
	color:#f8313f;
}
.btn-enviar-prop{
	/*display:block;*/
	background:#f8313f;
	color:#fff;
	font-size:11px;
	padding:10px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	margin-top:10px;
}
.btn-enviar-prop span{
	margin-right:10px;
}
.btn-enviar-prop:hover,
.btn-enviar-prop:focus{
	color:#fff;
	text-decoration:none;
}
.admin-submenu{
	background:#eee;
	padding-top:10px;
	padding-bottom:10px;
}
.btn-submenu-forums{
	background:#e2e2e2;
	color:#333;
	float:left;
	margin:0 5px;
}
.btn-forums-active{
	background:#f8313f;
	color:#fff;
}
.forum-admin-wrapper{
	margin-top:20px;
	font-size:12px;
}
.forum-add-wrapper{
	margin-top:20px;
	margin-bottom:50px;
	padding-bottom:40px;
	border-bottom:1px dotted #ddd;
	font-size:12px;
}
.cats{
	float: left;
	width: 100%;
	margin-top: 10px;
	padding:0;
}
.cats li{
	float: left;
	width: 45%;
	list-style: none;
	margin: 2.5%;
}
.cats li:nth-child(odd){
	clear: left;
}
.prop-tit {
    margin-top: 9px;
    color: #9E9E9E;
    float: left;
    width: 100%;
}
.prop-tit h4 {
    color: #5F5F5F;
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5;
}
.prop-tit span, 
.prop-tit i {
    float: right;
    font-size: 12px;
}
.prop-tit i{
	margin-left: 10px;
}
.ask {
    background-color: dimgrey;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    clear: both;
    display: block;
    max-width: 204px;
    margin: auto;
    margin-top: 18px;
    text-align: center;
    transition:.3s;
    float: left;
}
.can {
    background-color: #FF5A66;
    color: #fff;
    border: 1px solid #f8313f;
    display: block;
    float: left;
    width: 47.5%;
    transition:.3s;
}
.go {
    background-color: #828282;
    border: 1px solid #5f5f5f;
    display: block;
    float: right;
    width: 47.5%;
    transition:.3s;
}
.can:hover{
	background-color: transparent;
	color: #f8313f;
}
.go:hover{
	background-color: transparent;
	color: #5f5f5f;
}
.ask:hover,
.ask:focus{
	background-color: #3C3C3C;
	text-decoration: none;
	color: #ccc;
}
.cspace{
	margin-top: 20px;
}
.txt-cnt{
	text-align: center;
}
.cspace textarea.form-control {
    height: auto;
    min-height: 100px;
}