@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,600,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic);
body{
	font-family: 'Raleway', sans-serif;
	font-size:12px;
}
.txt-rojo{
	color:#ff5555;
}
.txt-blanco{
	color:#fff;
}
.txt-verde{
	color:#78ff00;
}
.txt-gris{
	color:#505050;
}
.container-fluid{
	padding-left:0;
	padding-right:0;
}
.header-descarga-app{
	background:#dde0da;
}
.header-descarga-app span{
	color:#a1a89b;
	font-weight:800;
	font-size:12px;
}
.navbar{
	margin:0;
	border-radius:0;
	border:0;
	background:#ff5555;
	padding:20px 0;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:link {
	/*padding-top:10px;
	padding-bottom:10px;
	margin:20px -3px 20px -3px;
	font-weight:600;
	font-size:12px;
	color:#5d5e5b;*/
	color:#fff;
	padding:6px 8px;
	margin-top:10px;
	margin-left:15px;
}
.navbar-default .navbar-nav > li > a:link span,
.navbar-default .navbar-nav > li > a span{
	/*color:#5d5e5b;*/
	color:#fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    /*color:#ff5360;*/
    color:#fff;
    border-bottom:1px solid #fff;
}
.navbar-default .navbar-nav > li > a:hover span,
.navbar-default .navbar-nav > li > a:focus span {
    /*color:#ff5360;*/
    color:#fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:link, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
	/*color:#fff;
	background:#ff5360;
	padding-top:10px;
	padding-bottom:10px;
	margin:20px -3px 20px -3px;
	color:#fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;*/
	background:#fff;
	color:#ff5555;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:6px 8px;
}
.navbar-default .navbar-nav > .active > a span, 
.navbar-default .navbar-nav > .active > a:link span, 
.navbar-default .navbar-nav > .active > a:hover span, 
.navbar-default .navbar-nav > .active > a:focus span{
	color:#fff;
}
.logo-gb{
	display:block;
	width:150px;
	height:50px;
	/*background-color:#333;*/
	background:url(../gentebuena/images/logo-gb.jpg) no-repeat;
	background-size:auto 100%;
	background-position:12px 0;
}
.navbar-default .navbar-toggle {
    border-color:#fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.logo-normal{
	width:100px;
	position:absolute;
	top:50%;
	transform:translate(0, -50%);
	-webkit-transform:translate(0, -50%);
	-ms-transform:translate(0, -50%);
}
.logo-small{
	width:80px;
	position:absolute;
	top:50%;
	transform:translate(0, -50%);
	-webkit-transform:translate(0, -50%);
	-ms-transform:translate(0, -50%);
}
.logo-xsmall{
	width:50px;
}
.navbar-nav{
	/*overflow-x:hidden;*/
}
.submenu1{
	padding-top:20%;
}
.submenu2{
	margin-top:3%;
	background:url(../images/main/back-sm2.png);
}
.img-btn-submenu1{
	margin-top:13%;
}
.img-btn-submenu2{
	margin-top:7%;
	margin-bottom:7%;
}
.sm-1{
	
}
.sm-1-1{
	background:#78ff00;
	color:#505050;
}
.sm-1-2{
	background:#ff5360;
	color:#fff;
}
.sm-1-3{
	background:#505050;
	color:#fff;
}
.sm-1-4{
	background:#c6cbc1;
	color:#fff;
}
.involucrate-wrapper{
	background:#505050;
	color:#fff;
	padding-top:3%;
	padding-bottom:3%;
}
.involucrate-wrapper h1{
	font-weight:800;
}
.involucrate-wrapper h4{
	line-height:1.6;
}
.involucrate-wrapper ul{
	list-style-image:url(../images/main/ico-bullet-1.png);
}
.involucrate-wrapper ul li{
	font-family: 'Merriweather', serif;
	font-style:italic;
	margin-bottom:10px;
}
.timeline-wrapper{
	color:#6d7366;
	font-size:0.9em;
	padding-top:3%;
	padding-bottom:3%;
}
.timeline-wrapper h1{
	font-weight:800;
}
.timeline-wrapper h5{
	font-weight:600;
	font-size:1em;
}
.timeline-wrapper p{
	font-weight:400;
}
.timeline-container{
	background:url(../images/main/timeline-fondo.jpg) repeat-x;
	background-size:auto 100%;
}
.facebookwall-wrapper{
	padding-top:3%;
	background:#f2f4ef;
	color:#505050;
}
.facebookwall-wrapper h4{
	font-weight:600;
}
.facebookwall-wrapper p{
	font-size:0.9em;
}
.fb-fecha{
	color:#b5b5b5;
	font-style:italic;
	font-size:0.9em;
}
.eventos-wrapper{
	padding-top:3%;
	padding-bottom:3%;
}
.eventos-wrapper h1{
	font-weight:800;
}
.evento-item h2{
	font-weight:100;
}
.evento-item h4{
	font-weight:600;
	color:#9e9e9e;
	margin-top:30px;
}
.evento-item p{
	color:#9e9e9e;
}
.fecha-evento{
	background:#78ff00;
	text-align:center;
}
.footer-wrapper{
	background:#fff;
}
.footer-container{
	padding-top:30px;
	padding-bottom:30px;
	border-top:1px solid #ddd;
}
/* INICIO -------------------------------------------------------------------------------*/
.banner-main{
	height:auto;
	padding-top:20%;
	background:url(../gentebuena/images/gb-main-back-1.jpg) no-repeat;
	background-position:center top;
	background-size:auto 100%;
}
.banner-main-txt-1{
	width:100%;
	text-align:center;
	padding:0 20%;
	font-weight:600;
	font-size:1.8em;
	color:#fff;
	text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.7);
}
.banner-main-txt-2{
	width:100%;
	text-align:center;
	font-weight:800;
	font-size:4em;
	color:#a2ff00;
	text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.7);
}
.banner-icons-wrapper{
	height:auto;
	background:url(../gentebuena/images/gb-main-back-2.png);
}
.frase-gb-wrapper{
	background:#a2ff00;
	padding:4% 0;
}
.frase-gb-txt{
	width:100%;
	text-align:center;
	padding:0 20%;
	font-family: 'Merriweather', sans-serif;
	font-style:italic;
	color:#3d3d3d;
	font-size:1.5em;
}
.frase-gb-autor{
	width:100%;
	text-align:center;
	font-size:1em;
	font-weight:600;
	margin-top:3%;
}
.gentebuena-wrapper{
	padding:4% 0;
}
h1, h2, h3{
	font-weight:800;
	color:#505050;
}
h2,h3,h4{
	margin:0;
}

h3{
	line-height:200px;
}

.dinamica-wrapper{
	background:#505050;
	padding:3% 0;
	color:#fff;
}
.dinamica-ico-container{
	background:url(../gentebuena/images/dinamica-back-1.png) repeat-x;
	background-size:auto 100%;
	background-position:center;
}
.como-funciona-wrapper p{
	color:#aaa;
}
.dinamica-item{
	padding:3% 0;
}
.perfiles-main-testimonio{
	font-family: 'Merriweather', sans-serif;
	font-style:italic;
	color:#aaa;
	margin-top:20px;
}
.perfiles-main-wrapper{
	padding-bottom:5%;
}
.perfiles-main-wrapper p{
	color:#333;
	font-size:1em;
	line-height:1.8;
}
.perfiles-main-wrapper ul li p{
	color:#111;
	font-size:1.2em;
	line-height:1.8;
}
.balta-main-wrapper{
	background:#ff5555;
	color:#fff;
	padding:4% 0;
}
.balta-main-wrapper p{
	font-family: 'Merriweather', sans-serif;
	font-style:italic;
}
.back-perfiles{
	background:#f2f4ef;
}
.gb-perfiles-info-wrapper{
	background:#fff;
	color:#666;
	line-height:2;
	padding:4%;
	margin:4% 0;
}
.gb-perfiles-wrapper{
	line-height:2;
	padding:4%;
	margin:4% 0;
}
.perfiles-info-quote{
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	padding:5% 0;
}
.perfiles-quote-txt{
	font-family: 'Merriweather', sans-serif;
	font-style:italic;
	font-size:1.5em;
}
.gb-perfiles-wrapper a{
	color:#888;
}
.gb-perfiles-wrapper a:hover{
	color:#111;
}





