.navbar-default{
	background-color:#f8313f;
	border-radius:0;
	border:0;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover{
	color:#fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	background-color:#db1220;
	color:#fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover{
	color:#fff;
}

.article-list{
	margin-top:30px;
}
.article-list .btn{
	margin:0;
	padding:4px 7px;
	font-size:12px;
}

.td-fecha, .td-cat{
	color:#999;
}
.td-image{
	width:10%;
}
.td-nombre{
	width:35%;
}
.td-fecha{
	width:10%;
}
.td-cat{
	width:10%;
}
.td-multimedia{
	width:35%;
}
textarea{
	resize:none;
}
.modal-header{
	background-color:#f8313f;
	color:#fff;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	-o-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-o-border-top-right-radius:5px;
	border-top-right-radius:5px;
	border-bottom:0;
}
.modal-img-container{
	margin-bottom:15px;
}
.btn-multimedia{
	margin-right:15px;
}
.bg-warning{
	padding:15px;
}
.gallery-upload-body{
	background:#eee;
}
.gallery-upload-confirm-wrapper{
	background:#fff;
	margin-top:30px;
	padding:20px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	-o-border-radius:12px;
	border-radius:12px;
	box-shadow: 3px 3px 7px #bbb;
}
.gallery-upload-confirm-wrapper h1{
	color:red;
}
.gallery-upload-confirm-wrapper h5{
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:1px solid #ddd;
}
.ico-success{
	color:green;
}
.ico-error{
	color:#fff;
}
.img-error{
	color:#fff;
	background:red;
	padding:4px 7px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
}
.error-text{
	color:#fabbc0;
	margin-left:10px;
}